* {
  border: none;
  padding: 0 6px;
  margin-top: 2px;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
}

window#waybar {
  background: transparent;
  color: #ffffff;
}

#custom-page1, #custom-page2, #custom-page3, #custom-page4, #custom-page5, #custom-page6 {
  background: transparent;
  min-width: 18px;
	padding-left: 2px;
	color: #fff;
}
#custom-page1.active,
#custom-page2.active,
#custom-page3.active,
#custom-page4.active,
#custom-page5.active,
#custom-page6.active {
  background: rgba(255,255,255,0.15);
  border-radius: 8px;
}

#custom-page1.occupied:not(.active),
#custom-page2.occupied:not(.active),
#custom-page3.occupied:not(.active),
#custom-page4.occupied:not(.active),
#custom-page5.occupied:not(.active),
#custom-page6.occupied:not(.active) {
    color: #42A5F5;
}

#custom-page1.active.occupied,
#custom-page2.active.occupied,
#custom-page3.active.occupied,
#custom-page4.active.occupied,
#custom-page5.active.occupied,
#custom-page6.active.occupied {
    background: rgba(255,255,255,0.15);
    color: #42A5F5;
}

#window, #tray, #clock { background: transparent; }

#tray {
    margin-right: -5;
}

#tray * {
    padding-left: 0px;
    padding-right: 0px;
}

#tray menu {
    padding: 5px 0;
    margin: 0;
    border: 1px solid #555;
}

#tray menu menuitem {
    padding: 4px 12px;
}

#tray menu menuitem:hover {
    background: rgba(66,165,245,.25);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 3px 12px;
  border-radius: 10px;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 1px 12px;
  border-radius: 10px;
}

